<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link type="text/css" href="/css/style.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oxygen:wght@300&family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <title>The Tech Blog</title>
  </head>

  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary mt-5 p-3">
      <div class="container-fluid">
        <a class="navbar-brand logo-img" href="/"><img
            src="/images/logo1.png"
            alt="tech blog logo"
          /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            {{#if loggedIn}}
              <li class="nav-item">
                <a class="nav-link" href="/profile/{{user_id}}">Dashboard</a>
              </li>
            {{/if}}
            {{#unless loggedIn}}
              <li class="nav-item">
                <a class="nav-link" href="/log-in">Log In</a>
              </li>
            {{/unless}}
            {{#if loggedIn}}
              <li class="nav-item">
                <a class="nav-link" id="logout" href="/">Log Out</a>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>

    {{{body}}}

  </main>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="/js/home-page.js"></script>
  <script src="/js/login.js"></script>
  <script src="/js/sign-up.js"></script>
  <script src="/js/profile.js"></script>

</html>