<div class="card">
    <div class="card-body">
        <h1>Log In</h1>
        <div class="input-group">
            <label>Username</label>
            <input>
            <label>Password</label>
            <input>
        </div>
    </div>
</div>