
<div class="card-body mt-5">
    <div class="card">
        <div class="input-group p-2">
            <input class="mt-4" placeholder="Title">
            <textarea class="w-100" placeholder="New Post"></textarea>
            <button class="m-2 p-2 newPost-btn">Post</button>
        </div>
    </div>
</div>


<div class="text-center mt-4 recPosts">
    <h1>Your Posts</h1>
</div>

{{#each blogPost}}

<div class="flex-container card blog-post">
    <div class="card-body">
        <div class="row">
        <div class="col-6 title">
            <h2>{{ title }}</h2>
        </div>
        <div class="col-6 name-date">
            <p>{{ name }} {{ dateCreated }}</p>
        </div>
        </div>
        <div class="col-12 content">
            <p>{{ contents }}</p>
        </div>
    </div>
</div>

{{/each}}